Repository vadzimk/instant-messaging: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-test-backend-image-job, build-test-telegram-bot-image-job

Path conditions:
  build-test-backend-image-job: any of: backend/**/*
  build-test-telegram-bot-image-job: any of: telegram_bot/**/*

Update .gitlab-ci.yml file
  .templates.gitlab-ci.yml
Due: none

Update .gitlab-ci.yml file
  .gitlab-ci.yml
  .templates.gitlab-ci.yml
  .utils.gitlab-ci.yml
Due: none

Update .gitlab-ci.yml file
  .gitlab-ci.yml
  .templates.gitlab-ci.yml
  telegram_bot/Dockerfile.test
Due: build-test-telegram-bot-image-job

Update .gitlab-ci.yml file
  .gitlab-ci.yml
  docker-compose.test.yml
  telegram_bot/Dockerfile.test
Due: build-test-telegram-bot-image-job

Update .gitlab-ci.yml file
  telegram_bot/.env.dev.example
Due: build-test-telegram-bot-image-job

Update .gitlab-ci.yml file
  telegram_bot/.env.dev.example
  telegram_bot/tests/conftest.py
Due: build-test-telegram-bot-image-job

Update .gitlab-ci.yml file
  .gitlab-ci.yml
  .templates.gitlab-ci.yml
  backend/Dockerfile
  docker-compose.prod.yml
  telegram_bot/Dockerfile
Due: build-test-backend-image-job, build-test-telegram-bot-image-job

Update .gitlab-ci.yml file
  .gitlab-ci.yml
  README.md
  backend/Dockerfile
  frontend/src/pages/ErrorBoundary.tsx
  frontend/src/reducers/chatSlice.ts
  telegram_bot/Dockerfile
Due: build-test-backend-image-job, build-test-telegram-bot-image-job

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Update .gitlab-ci.yml file
  .gitlab-ci.yml
  docker-compose.prod.yml
Due: none

Update .gitlab-ci.yml file
  .gitlab-ci.yml
  telegram_bot/.env.dev.example
Due: build-test-telegram-bot-image-job

Update .gitlab-ci.yml file
  docker-compose.prod.yml
Due: none

backend: replace telegram api polling with web hook for production
  telegram_bot/src/api.py
  telegram_bot/src/main.py
  telegram_bot/src/settings.py
Due: build-test-telegram-bot-image-job

debug socketio/async_client.py:175: ConnectionError
  .gitlab-ci.yml
Due: none

debug socketio/async_client.py:175: ConnectionError
  .gitlab-ci.yml
  backend/tests/api/conftest.py
Due: build-test-backend-image-job

debug pipeline socketio/async_client.py:175: ConnectionError
  .gitlab-ci.yml
Due: none

debug pipeline socketio/async_client.py:175: ConnectionError
  backend/src/main.py
  backend/src/settings.py
Due: build-test-backend-image-job
